html {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100%;
  user-select: none;
  background-color: lightblue;
  color: black;
}

body,
input,
textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body>.screens {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 4vw;
  gap: 4vw;
  overflow: hidden;
}

body>.error {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  background-color: #a12;
  color: white;
  padding: 4px 8px;
  cursor: pointer;
  z-index: 100;
}

body>.error:empty {
  display: none;
}

code {
  color: #073;
}

hr {
  display: block;
  height: 8px;
  border: none;
  margin: 0;
}

ul {
  margin: 0;
}

.screens>p {
  width: 100%;
  margin-bottom: 0;
}